<div>
    <span>Nome Produto</span>
    <input type="text" [(ngModel)]="produto.nomeProduto">
</div>
<div>
    <span>Descricao Produto</span>
    <textarea rows="3" [(ngModel)]="produto.descricaoProduto"></textarea>
</div>
<div>
    <span>Valor Produto R$</span>
    <input type="number" [(ngModel)]="produto.valorProduto">
</div>
<div>
    <span>Quantidade Estoque</span>
    <input type="number" [(ngModel)]="produto.quantidadeEstoque">
</div>
<div>
    <span>Tamanho</span>
    <input type="text" [(ngModel)]="produto.tamanho">
</div>
<div>
    <span>Marca</span>
    <input type="text" [(ngModel)]="produto.marca">
</div>
<div>
    <span>Imagens</span>
    <button (click)="novaImagem()">Adicionar Imagem</button>
    <li *ngFor="let img of produto.listaImagens; index as index">
        <input type="file" accept="image/png, image/jpeg" (change)="setImagem($event, index)">
        <img [src]="img.url" height="200">
    </li>

</div>

<button (click)="salvar()">Enviar</button>
